body {
	font-family: "Noto Sans Display", "Arial Black", sans-serif;
}
* {
	box-sizing: border-box;
}
/* navbar */
.navbar {
	background: #253a54;
	display: flex;
	align-items: center;
	gap: 50px;
	padding: 0px 34px;
	margin: 0px 0px 40px 0px;
}
.push-right {
	margin-left: auto;
}
.navbar div {
	display: flex;
	align-items: center;
}
.navbar div img {
	margin-right: 10px;
}
.navbar div h2 {
	font-size: 20px;
	color: rgb(255, 255, 255);
	font-weight: 500;
}
.links a {
	color: #fafafa;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
}
@media (max-width: 900px) {
	.navbar {
		overflow: hidden;
		position: relative;
	}
	.hamburger {
		display: block;
		margin-left: auto;
		color: #fafafa;
	}
	.links {
		display: none !important;
	}
}
@media (min-width: 900px) {
	.hamburger {
		display: none !important;
	}
	.links {
		margin-left: auto;
		display: flex;
		gap: 20px;
	}
}

.leftcolumn {
	float: left;
	width: 70%;
}

/* Right column */
.rightcolumn {
	float: left;
	width: 30%;

	padding-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Clear floats after the columns */
.row::after {
	content: "";
	display: table;
	clear: both;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.leftcolumn,
	.rightcolumn {
		width: 100%;
		padding: 0;
	}
	.notice {
		width: 98% !important;
	}
}

.notice {
	background-color: #ebebeb;
	padding: 0px 0px 10px 0px;
	margin: auto;
	width: 50%;
	border-radius: 10px;
	margin-bottom: 25px;
}
.titNoticia {
	text-decoration: none;
	font-size: 28px;
	font-weight: 600;
	color: #1b1b1b;
}
.titNoticia:hover {
	color: #720000;
}
.notice img {
	width: -webkit-fill-available;
	border-radius: 10px 10px 0px 0px;
}
.descNotice {
	padding: 10px;
	color: #1b1b1b;
	margin: 0px 10px 0px 10px;
}
.fecha {
	text-align: end;
	font-size: 13px;
	color: #8f8f8f;
	margin-right: 5px;
}
.SecondNotice, .add{
	width: 90%;
	padding: 15px;
	border-radius: 10px;
	background: #ebebeb;
	font-size: 20px;
	margin: auto;
	margin-bottom: 17px;
	font-weight: 500;
    text-decoration: none;
}
.SecondNotice:hover {
    background: #DDD;
}
.notice:hover {
    background: #DDD;
}
.titNoticiaSec{
    text-decoration: none;
    color: #1b1b1b;
}
.titNoticiaSec:hover {
    color: #720000;
}
.fechaNotSec{
    text-align: end;
    font-size: 13px;
    color: #8f8f8f;
    margin-right: 5px;
}

.add{
    text-align: center;
    height: 300px;
    align-content: center;
}
footer{
    background: #253a54;
    color: #fafafa;
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    margin-top: 150px;
}
footer a{
    color: #fafafa;
    text-decoration: none;
}
footer a:hover{
    color: #720000;
}
h3{
    font-size: 15px;
    font-weight: 400;
    margin :0px;
}
.footer-col{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}
